<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rodrigue.bralirwa" >

    <application
        android:icon="@drawable/heineken"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Bralirwa"
            android:label="Bralirwa" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Bralirwa" >
        </activity>
        <activity
            android:name=".depot_fragment"
            android:label="Bralirwa" >
        </activity>
        <activity
            android:name=".orders_fragment"
            android:label="Bralirwa" >
        </activity>
        <activity
            android:name=".blah_fragment"
            android:label="Bralirwa" >
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".customers_fragment"
            android:label="@string/title_activity_customers_fragment" >
        </activity>
        <activity
            android:name=".Order"
            android:label="@string/title_activity_order" >
        </activity>
    </application>

</manifest>
